@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
}

.Container {
    display: flex; 
    height: 100%; 
}

  
  .FirstContainer {
    width: 25%; 
    background-color: rgb(85, 85, 170); 
    color: white; 
    padding: 20px; 
  }

  
  .SecondContainer {
    width: 75%; 
    background-color: white; 
    color: black; 
    padding: 20px; 
  }