@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
}

.Container {
  display: flex; 
  height: 100%; 
}

.FirstContainer {
  width: 20%; 
  background-color: rgb(95, 95, 168); 
  color: white; 
  padding: 10px; 
}
.FirstContainer h2{
  margin-top: 40px;
  font-size: 1.1rem;
}
.SecondContainer {
  width: 80%; 
  background-color: white; 
  color: black; 
  padding: 20px; 
}
.FirstContainer .menu{
    margin-top: 40px;
}
.FirstContainer .menu-list{
  list-style: none;
}
.FirstContainer .menu-list a{
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 18px;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: 300;
}
.FirstContainer .menu-list a i{
  margin-right: 15px;
  padding: 5px 0;
  font-size: 1.2rem;
}
.FirstContainer .menu-list a:hover{
  background-color: rgb(73, 73, 148);
}

.SecondContainer h2{
  font-size: 1.3rem;
  margin-top: 15px;
  margin-left: 15px;
}
.child-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
}
.child-container  h3{
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.child-container .gelir{
  padding: 10px 140px;
  box-shadow: 0px 4px 5px -2px rgb(197, 194, 194);
  border-radius: 5px;
}
.child-container .gelir p{
  color: rgba(133 159 61);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 600;
}
.child-container .gelir p i{
  font-size: 1.9rem;
  margin-left: 10px;
}
.child-container .gider{
  padding: 10px 140px;
  box-shadow: 0px 4px 5px -2px rgb(197, 194, 194);
  border-radius: 5px;
}
.child-container .gider p{
  color: rgba(249 , 84 , 84);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 600;
}
.child-container .gider p i{
  font-size: 1.9rem;
  margin-left: 10px;
}
.child-container .kalan{
  padding: 10px 140px;
  box-shadow: 0px 4px 5px -2px rgb(197, 194, 194);
  border-radius: 5px;
}
.child-container .kalan p{
  color: rgba(99 102 241);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: 600;
}
.child-container .kalan p i{
  font-size: 1.9rem;
  margin-left: 10px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 15px;
}
.card-container p{
  font-weight: bold;
}
.card-container .card-1{
  background-color: rgb(205, 220, 233);
  width: 49%;
  height: 50vh;
  padding: 20px;
  border-radius: 5px;
  text-align: start;
}
.card-container .card-2{
  background-color: rgb(205, 220, 233);
  width: 49%;
  height: 50vh;
  padding: 20px;
  border-radius: 5px;
  text-align: start;
}
.message-box {
  margin-top: 20px;
  background-color: #fae676; 
  border-radius: 4px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000; 
  font-weight: bold;
}

.message-box .icon {
  margin-right: 10px;
}

.message-box .icon::before {
  content: 'ℹ️'; 
  font-size: 18px;
}
